body{
	background-color: #232323;
	margin: 0;
}

h1{
	background-color: steelblue;
	color: white;
	text-align: center;
	line-height: 1.1;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Baloo Da 2', cursive;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.5s;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

#guess{
	color: black;
	margin: 0 auto;
	font-family: 'Baloo Da 2', cursive;
}

.selected{
	color: white;
	background: steelblue;
}

#color_display{
	font-size: 200%;
}

#guess{
	display: inline-block;
	width: 20%;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

button:hover{
	color: white;
	background: steelblue;
}
